 *{transition: all .3s ease-in;}

*, html, body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
body{
	background: #fcfcfc;
}

.container{
	max-width: 940px;
	margin:auto;
}

header{
	padding:30px 0;
	border-bottom: 1px solid #dadada;
}

.social{
	margin-top: 16px;
	float: right;

}

.socials{
	background-image: url(../images/social.png);
	font-weight: 700;	display: inline-block;
	width: 34px;
	height: 34px;
}

.fb{ background-position: 0px -4px;}
.rss{background-position: 159px -4px;}
.pint{background-position: 117px -4px;}
.goo{background-position: 75px -4px;}
.gribble{background-position: 34px -4px;}

.fb:hover{ 	background-position: 0px -47px;}
.rss:hover{	background-position: 159px -47px;}
.pint:hover{	background-position: 117px -47px;}
.goo:hover{	background-position: 75px -47px;}
.gribble:hover{	background-position: 34px -47px;}

.menu li{
	display: inline-block;
}

.menu li a{
	display: inline-block;
	color: #737373;
	font-size: 18px;
	font-weight: 700;
	padding:30px;
	padding-left: 0px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;

}

.menu li a:hover{
	color:#2ecc71;
}

.monitor-width{
	background: #2ecc71;
	height: 553px;
}

.undermon{
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	color: #aeadad;
	font-size: 16px;
	width: 636px;
	margin:115px auto 0px auto;
	text-transform: uppercase;
	line-height: 34px;
	text-align: center;
}

.green-btn{
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	margin:27px auto 0px auto;
	display: block;
	background-color:  #2ecc71;
	width: 184px;
	height: 40px;
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	text-align: center;
	padding: 15px 0px 0px 20px;
}

.green-btn:hover{
	background: #26F17C;
}

.player{

margin: 39px 0px 0px 229px;
  float:left;
}

.text-section1{
	width: 529px;
	display: inline-block;
	margin: 39px 0px 0px 30px;
}
.text-section1 h3{
	margin-bottom:29px; 
	display: inline-block;
}

.under-player h3, .text-section1 h3, .text-section3 h3{
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color:  #737373;
	text-transform: uppercase;
}

.text-section1 p, .under-player p, .text-section3 p {
	color:#8a8888;
	font-size: 12px;
	font-weight: 400;
	line-height: 22px;
	color:  #737373;
}


.player-bg{
	margin-top: 49px;
	min-height: 319px;
	background: #efefef;
}

.under-player {
	padding-top: 50px;
	padding-bottom: 46px;
	width: 	711px;
	margin: auto;
	text-align: center;
}

.picture-set img{
	margin-right: 20px;
}

.picture-set img.jes{
	width: 160px;
	height: 200px;
	margin-right:0px;
}

div.picture-set:hover img:not(:hover) {
	opacity: 0.4;
	background:red;

}
div.picture-set:hover img:not(:hover):before {
	content: "vvvvvvvv";

}

.text-section3 {
	padding-top: 49px;
	width:  478px;
	margin: auto;
	text-align: center;
}
div.text-section3 img:first-of-type{
	margin-left: -62px;
	margin-top: 72px;
	float: left; 

}
div.text-section3 img:last-of-type{
	margin-right: -62px;
	margin-top: -105px;
	float: right; 

}
.text-section3 h3{
	font-size: 14px !important;
	margin-bottom: 26px;

}


.section4{
	height: 140px;
	background: #322f2f;
	text-transform: uppercase;
}

.section4 h4{
	color: #efefef;
	margin-top: 61px;
	margin-left: 230px;
	float: left;
	text-transform: uppercase;
	font-size: 24px;
}
.section4 a{
	color: #fff;
	padding-top: 15px;
	padding-left: 23px;
	font-size: 12px;
	margin-top: 53px;
	margin-right: 231px;
	text-decoration:none;
	font-weight: 700;
	float: right;
	background: #2ecc71;
	width: 220px;
	height: 40px;
}
.section4 a:hover{
	background: #26F17C;
}
.footer p{
	float:left;
	margin-left: 230px;
	margin-right: 411px;

}

.footer a{
	display: inline-block;
}
.footer a:before{
	content: "/";
}
.footer a:first-of-type:before{
	content: none;
}

.footer p, .footer a{
	margin-top: 33px;
	text-decoration: none;
	color: #a5a5a5;
	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.footer a:hover{
	color:#2ecc71;
}